@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: 'Poppins', sans-serif;
}

/* Custom Cinematic Animation */
@keyframes ken-burns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.1) translate(-1%, -1%);
  }
  100% {
    transform: scale(1.2) translate(-2%, 1%);
  }
}

.animate-ken-burns {
  /* This forces the animation to be smooth and continuous */
  animation: ken-burns 25s ease-in-out infinite alternate !important;
  will-change: transform;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}